<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static 'stylee.css' %}>
</head>
<body>
    <div class='container'>
    {% block content %}
        <form method="post">
         {% csrf_token %}
      <div class="marka_filter">
          <div class="list-group">
              <a href={% url 'home' %}>All</a>
              {% for marka in markas %}
              <a href={% url 'car_filter' marka.id%} class="list-group-item">{{marka}}</a>
              {% endfor %}
          </div>
          
      </div> 
    {% block add_filter %}{% endblock add_filter %}
    </form>
        <div class="row">
            {% for car in cars %}
            <a href={% url 'car_detail' car.id %}>
            <div class="col">
                <div class="img"><img src="{{car.car_image.url}}" alt="Sekil"></div>
                <div class="body">
                <h3 class="header">{{car.price}}</h3>
                <h4>{{car}}</h4>
                <h5 class="description">{{car.year}}, {{car.engine}}, {{car.distange}} km</h5>
                <div class="end">{{car.city}}, {{car.date_time}}</div>
               </div>
            </div>
        </a>
            {% endfor %}
        </div>
        {{choose}}
    {% endblock content %}</div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include 'navbar.html' %}
</body>
</html>
